<!DOCTYPE html>
<html>
<head>
    <title>Jurnal de Sănătate</title>
</head>
<body>
    <h1>Bine ai venit în Jurnalul Tău de Sănătate!</h1>
    <div>
        <a href="/activitati"><button>Activități Zilnice</button></a>
        <a href="/simptome"><button>Simptome</button></a>
        <a href="/stare_de_spirit"><button>Stare de Spirit</button></a>
    </div>
    <div>
        <a href="/rezumat"><button>Rezumat</button></a>
        <a href="/obiective"><button>Obiective</button></a>
    </div>
</body>
</html>